.text {
  &__title {
    @include responsive-font(3vw, 24px, 36px, 30px);
    font-family: $font-base;
    font-weight: 600;
  }

  &__paragraph {
    @include responsive-font(1.8vw, 16px, 22px, 18px);
    font-family: $font-base;
    font-weight: 300;
  }
}
