// Utils
@import "normalize.css", "utils/variables", "utils/grid", "utils/mixins";

// Base imports
@import "base/hacks", "base/fonts", "base/text";

// Layout
@import "layout/body", "layout/footer", "layout/placeholder";

// Vendors
@import "aos/dist/aos.css";

// Components
@import "components/project";
