@font-face {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-display: swap;
  src: url("/static/fonts/Inter-variable.ttf") format("truetype");
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-display: swap;
  src: url("/static/fonts/Inter-variable.ttf") format("truetype");
}