.project {
  &__tags {
    display: flex;
    grid-gap: 20px;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;

    @include respond-to(small) {
      grid-template-columns: 1fr 1fr;
    }

    @include respond-to(medium) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }

    @include respond-to(huge) {
      grid-gap: 40px;
    }
  }

  // Project overview
  &__wrapper {
    .project {
      &__link {
        display: block;
        border: 1px solid $color-white;
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;

        &:hover {
          .project__overlay {
            background-color: rgba(255, 255, 255, .25);
            opacity: 1;
          }
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__overlay {
        @extend .text__title;
        color: $color-black;
        background-color: rgba(255, 255, 255, .25);
        opacity: 1;
        transition: all 125ms ease;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        padding: 10px;
      }
    }
  }
}